input {
  all: unset;
}
#root {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
}
.header-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 19%;
}
.news-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 70%;
  margin-bottom: 20px;
}
.news-item  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 2%;
}

.news-item-icon::before {
  content: '\2606';
  padding-right: 5px;
}
.news-item-icon2::before {
  content: '\2605';
  padding-right: 5px;
}
.news-item-date {
  font-size: 10px;
  color: gray;
}
.news-item a {
  text-decoration: none;
  color: #000080;
  opacity: 0.7;
}
.item-bolder {
  font-weight: bold;
}
.news-item-date {
  font-size: 14px;
  color: gray;
}
.header-main-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
}
.news-row-full-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  max-width: 64%;
  margin-bottom: 20px;
}
.news-item-full {
  width: 100%;
  max-width: 90%;
  margin-bottom: 5px;
}
.news-item-full a {
  text-decoration: none;
  color: #000;
}
.news-item-full a:hover {
  color: #000080;
  cursor: pointer;
}
.banner-block-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 36%;
  width: 36%;
}
.exchange-rate-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  width: 100%;
  margin-left: 3%;
  justify-content: flex-start;
}
.usd-moex, .eur-moex, .oil-moex {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  max-width: 33%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.moex-persent, .exchange-rate-percent {
  padding-left: 2%;
  color: gray;
  font-weight: normal;
}
.banner-img-wrap  {
  margin-bottom: 20px;
}
.banner-img-wrap img {
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.banner-content-wrap h3 {
  font-size: 16px;
  margin: 0;
}
.banner-content-wrap p {
  font-size: 14px;
}
.banner-content-wrap {
  margin: 0;
  padding: 0;
}
.banner-content-wrap a {
  text-decoration: none;
  color: #000080;
  opacity: 0.7;
}

.search-main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.search-header-links-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.logo-wrap {
  display: flex;
  width: 10%;
  max-width: 10%;
  margin-right: 1%;
  align-items: center;
}
.logo-wrap img {
  top: 23.49%;
  position: absolute;
  cursor: pointer;
}
.search-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 89%;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.search-input-wrap {
  display: flex;
  flex-direction: column;
  width: 71%;
  position: relative;
  margin-bottom: 10px;
}
.search-input-wrap input {
  min-height: 30px;
  border: 1px solid;
}
.search-keyboard-icon::before  {
  position: absolute;
  top: 20%;
  align-items: center;
  right: 2%;
  display: flex;
  content: '\2328';
  cursor: pointer;
}

.search-btn-wrap {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-height: 20px;
}
.search-btn-wrap button {
  cursor: pointer;
  min-height: 32px;
}
.search-header-links-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin-left: 11.1%;
  margin-bottom: 5px;
}
.search-header-link-item {
  display: flex;
  max-width:16.5%;
  margin-right: 2%;
  margin-bottom: 10px;
}
.search-header-link-item a {
  text-decoration: none;
  color: #000080;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 22%;
}
.banner-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}
.banner-wrap img {
  max-width: 808px;
}

.footer-column-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.footer-cloumn-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  width: 28%;
}
.footer-cloumn-item-values {
  max-width: 300px;
}
@media (max-width: 1400px) {
  .footer-wrap, .header-wrap {
    margin-left: 10%;
  }
  .banner-wrap {
    margin-left: 6%;
  }
  .banner-wrap img {
    max-width: 808px;
  }

}
.weather-values-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.weather-main-icon-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.weather-main-icon::before  {
  content: '\2600';
  font-size: 40px;
}
.weater-temp {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.weather-icon, .weather-value {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}